---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="grow flex flex-col justify-center items-center gap-y-8 text-center px-8 py-16"
  >
    <h1 class="text-8xl font-bold">Epic CSS</h1>
    <p class="text-2xl">
      Epic CSS is a lightweight Tailwind plugin that provides common components
      which are completely Javascriptless, as well as utilities that are missing
      from Tailwind.
    </p>
    <a class="btn" href="/docs/get-started">Get Started</a>
  </main>
</Layout>
