---
import LogoIcon from "./LogoIcon.astro";
import NavLink from "./NavLink.astro";
---

<header class="navbar">
  <a class="logo" href="/">
    <LogoIcon /> epicwindcss
  </a>
  <nav class="nav">
    <ul class="nav-ul">
      <NavLink href="/">Home</NavLink>
      <NavLink href="/docs/start">Get Started</NavLink>
    </ul>
  </nav>
</header>
