---
import SidebarLink from "./SidebarLink.astro";
---

<aside class="grow bg-slate-500 max-w-[200px]">
  <nav>
    <ul>
      <SidebarLink href="start">Get Started</SidebarLink>
    </ul>
  </nav>
</aside>
